// Colors
$color-primary: #294d5c;
$color-secondary: #5f9db8;
$color-tertiary: #9da3af;
$color-accent: #e2007a;
$color-accent-hover: #5f9db8;
$color-accent-active: #ffdc74;
$color-error: #df461f;
$color-error-hover: #e96443;
$color-warning: #f0b80f;
$color-warning-hover: #f1ca55;
$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #f7f7f7;
$color-gray-medium: #eaeaea;
$color-gray-dark: #ccc;

// Font sizes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// Font weights
$font-weight-normal: normal;
$font-weight-bold: bold;